.footer-container {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.information {
    margin: 10px 0;
}

.label {
    font-weight: bold;
}
